body, h1, h2, h3, h4, h5, h6 {
    font-family: "Karma", sans-serif;
}

/* Header part */
.head{
    color: #000;
    background-color: #fff;
    font-size: 24px;
    /* padding-top: 16px;
    padding-bottom: 16px; */
}
.padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.center{
    text-align: center;
}
.head-right{
text-align: right;
}


/* pagination */
.w3-bar{
    display: block;
    text-align: center;
}

.w3-bar-item {
    border: none!important;
    display: inline-block;
    padding: 8px 16px;
    /* vertical-align: middle;
    overflow: hidden; */
    text-decoration: none;
    color: inherit!important;
    background-color: inherit!important;
    text-align: center;
    /* cursor: pointer;
    white-space: nowrap; */
}

.black, .hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}